.card {
  border: 1px solid #008cba;
  box-shadow: 0 0 5px #008cba;
  padding: 1rem;
  width: 90%;
  position: relative;
  height: 6rem;
  max-width: 25rem;
  border-radius: 5px;
  .next {
    position: absolute;
    bottom: 0.5rem;
    right: 0.5rem;
    background-color: #008cba;
    color: #fff;
    font-size: 0.8rem;
    font-weight: bold;
    width: 80px;
    height: 30px;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    border: none;
  }
  input {
    padding: 0.1rem;
    position: absolute;
    left: 6rem;
  }
  input:focus {
    outline: none;
  }
}
