.main {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  .section {
    height: 100%;
    width: 100%;
    position: relative;
    border-right: 3px solid #008cba;
    .section-title {
      position: absolute;
      text-align: center;
      width: 100%;
      margin-top: 1rem;
      font-size: 1.5rem;
      font-weight: bold;
    }
  }
  .section:last-child {
    border-right: none;
  }
}
